{% extends 'dashboard_layout.html' %}

{% block Content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <div class="user-block block text-center">
                <a href="#" class="user-title">A</a>
                <div class="contributions">950 Contributions</div>
                <div class="details d-flex">
                    <div class="item"><i class="icon-info"></i><strong>150</strong></div>
                    <div class="item"><i class="fa fa-gg"></i><strong>340</strong></div>
                    <div class="item"><i class="icon-flow-branch"></i><strong>460</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>
s
{% endblock %}